body {
margin:0px ;



}
.div {
background-color: greenyellow;
height: 90px;




}

.li {
display: inline-block;
padding:15px ;
color: skyblue;
font-size: 30px;
}

/adaptive
@media(min-widht:0px) and (max-widht:320px){
.div {
text-align:center ;

					}
}
